:root{
    --cor-fundo:#90C1F0;     
    --cor-texto:#FFDEFA;
    --cor-principal:bisque;
    --cor-secundaria:;
    --cor-card:;
    --cor-superficie:;
    --cor-rodape:;
    --cor-clara:;
    
}

body {

    backround-color; var(--cor-fundo);
    color: var(--cor-texto)
    font-family: Arial, sans-serif;
    margin:0;
}

header{
    backround-color: var(--cor-principal);
    color:rgb(245, 175, 245)
    text-aling: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color:rgb(108, 177, 236);
}

p {
   font-size: 18px;
   line-height: 1.6;
}
